- content_for :page_title do
  = (params[:controller]).upcase

%section.service
  - @services.each do |service|
    %section.two-column-content
      .two-column-content__title-wrapper
        %h2.two-column-content__second-heading
          = link_to service, {:class => "two-column-content__second-heading-link"} do
            = service.title
      .two-column-content__inner
        = markdown(service.description)
        = link_to service, {:class => "two-column-content__more-link border-button-md-i-r"} do
          = t('About Service More')
          %i.fa.fa-angle-right.two-column-content__more-link-icon.fa-lg
