%nav.main-tabs-nav
  %ul.main-tabs-nav__tabs
    %li.main-tabs-nav__tab<>
      = link_to t('All'), staffs_articles_path, {:class => "main-tabs-nav__tab-link #{params[:published] ? '' : 'is-current'}"}
    %li.main-tabs-nav__tab<>
      = link_to t('Published'), staffs_articles_path(:published => "true"), {:class => "main-tabs-nav__tab-link #{params[:published] == 'true' ? 'is-current' : ''}"}
    %li.main-tabs-nav__tab<>
      = link_to t('Unpublished'), staffs_articles_path(:published => "false"), {:class => "main-tabs-nav__tab-link #{params[:published] == 'false' ? 'is-current' : ''}"}