= form_for [:staffs, @article] do |f|
  - if @article.errors.any?
    .error-explanation
      %h2.error-explanation__heading
        = pluralize(@article.errors.count, "error")
        prohibited this article from being saved:
      %ul.error-explanation__errors
        - @article.errors.full_messages.each do |msg|
          %li.error-explanation__error
            = msg
  .field
    = f.label :title
    %br/
    = f.text_field :title
  .field
    = f.label :body
    %br/
    = f.text_area :body
  .field
    = f.label :category
    %br/
    = f.collection_select :category_id, Category.all, :id, :name
  .field
    = f.label :staffs
    %br/
    = f.collection_select :staff_id, Staff.all, :id, :name
  .field
    = f.label :tags, "Tags (separated by commas)"
    %br/
    = f.text_field :tag_list
  .field
    = f.label :published, "Published"
    %br/
    = f.check_box :published
  .field
    = f.label :created_at
    %br/
    = f.text_field :created_at
  .actions
    = f.submit
