= form_for [:staffs, @category] do |f|
  - if @category.errors.any?
    .error-explanation
      %h2.error-explanation__heading
        = "#{pluralize(@category.errors.count, "error")} prohibited this category from being saved:"
      %ul.error-explanation__errors
        - @category.errors.full_messages.each do |msg|
          %li.error-explanation__error
            = msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :slug
    = f.text_field :slug
  .actions
    = f.submit 'Save'
