%h1 Listing categories

%table
  %tr
    %th Title
    %th Slug
    %th
    %th
    %th

  - @categories.each do |category|
    %tr
      %td= category.name
      %td= category.slug
      %td= link_to 'Show', staffs_category_path(category)
      %td= link_to 'Edit', edit_staffs_category_path(category)
      %td= link_to 'Destroy', category, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Category', new_staffs_category_path
