#container.articles
  - @articles.each do |article|
    %article.articles-article{class: "#{cycle("odd", "even")}"}
      .articles-article__inner
        .articles-article__informations
          %h2.articles-article__title
            = link_to article, {:class => "articles-article__title-link"} do
              = article.title
          - if article.tags.count > 0
            .articles-article__tags
              %ul.tags
                = raw article.tag_list.map { |t| link_to t, tag_path(t) }.join(', ')
        = link_to article, {:class => "articles-article__eyecatch-image-wrapper"} do
          - if article.thumbnail?
            = image_tag("#{article.thumbnail}", :alt => "#{article.title}", :class => "articles-article__eyecatch-image")
          - else
            = image_tag("thumbnail-blank.png", :alt => "#{article.title}", :class => "articles-article__eyecatch-image")
      .articles-article__meta
        .articles-article__created-at
          = show_date(article.created_at)
        - if article.staff
          = image_tag("member-icons/#{article.staff.slug}.jpg", :alt => "#{article.staff.name}", :class => "articles-article__author-icon-image pie")
          .articles-article__author-name
            = article.staff.name

.timeline
