- content_for :page_title do
  BLOG

%table
  %tbody
    - @articles.each do |article|
      %tr
        %td= article.title
        %td= article.body
        %td= article.category_id
        %td= raw article.tag_list.map { |t| link_to t, tag_path(t) }.join(', ')
        %td= link_to 'Show', article

= paginate(@articles)
