- content_for :page_title do
  - if @article.category
    = @article.category.name.upcase
  - else
    BLOG

%header.article__header
  %h2.article__title
    = link_to @article, {:class => "article__title-link"} do
      = @article.title
.article__informations
  - if @article.staff
    = image_tag("member-icons/#{@article.staff.slug}.jpg", :alt => "#{@article.staff.name}", :class => "article__author-icon-image")
    %span.article__author-name
      = @article.staff.name
  %span.article__created-at
    = show_date(@article.created_at)
  .article__tags
    %ul.tags
      = raw @article.tag_list.map { |t| link_to t, tag_path(t) }.join(', ')

.article__body
  = markdown(@article.body)
%nav.article__nav
  %ul.article__nav-items
    - if @article.previous_article
      %li.article__nav-item.is-previous<>
        = link_to @article.previous_article, class: "previous-article-link article__nav-link is-previous"  do
          %i.fa.fa-angle-left.article__nav-link-icon.is-previous
          %span.article__nav-link-text.is-previous
            = @article.previous_article.title
    - if @article.next_article
      %li.article__nav-item.is-next<>
        = link_to @article.next_article, class: "next-article-link article__nav-link is-next" do
          %span.article__nav-link-text.is-next
            = @article.next_article.title
          %i.fa.fa-angle-right.article__nav-link-icon.is-next
    %li.article__nav-item.is-back
      = link_to t('Back To All Articles'), @article.category, class: "back-to-articles-link"

= edit_path
