- content_for :page_title do
  - if @article.category
    = @article.category.name.upcase
  - else
    BLOG

%header.article__header
  %h2.article__title
    = link_to @article, {:class => "article__title-link"} do
      = @article.title
.article__informations
  - if @article.staff
    = image_tag("member-icons/#{@article.staff.slug}.jpg", :alt => "#{@article.staff.name}", :class => "article__author-icon-image")
    %span.article__author-name
      = @article.staff.name
  %span.article__created-at
    = show_date(@article.created_at)
  .article__tags
    %ul.tags
      = raw @article.tag_list.map { |t| link_to t, tag_path(t) }.join(', ')

.article__body
  = markdown(@article.body)

  = link_to("Previous articlet", @article.previous_article) if @article.previous_article
  = link_to("Next article", @article.next_article) if @article.next_article

#{link_to 'Back', @article.category}
