%h1 Listing admins
%table
  %tbody
    - @authors.each do |author|
      %tr
        %td= author.name
        %td= author.email
        %td= link_to 'Show', admin_author_path(author)
        %td= link_to 'Edit', edit_admin_author_path(author)
        %td= link_to 'Destroy', admin_author_path(author), method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Author', new_admin_author_path
