%header.main__header
  %h2.main__header-heading
    = t('Dashboard')

= link_to 'Article', new_staffs_article_path
= link_to 'Page', new_staffs_page_path
= link_to 'Snippet', new_staffs_snippet_path
- if can? :manage, @staff
  = link_to 'Staff', new_staffs_staff_path
