%header.main__header
  %h2.main__header-heading
    = t('Dashboard')
.main__body
  = link_to t('Article'), new_staffs_article_path
  = link_to t('Page'), new_staffs_page_path
  = link_to t('Snippet'), new_staffs_snippet_path
  = link_to t('Service'), new_staffs_service_path
  - if can? :manage, @staff
    = link_to t('Staff'), new_staffs_staff_path
