%header.main__header
  %h2.main__header-heading
    = t('Dashboard')
.main__body
  %nav.dashboard-nav
    %ul.dashboard-nav__items
      %li.dashboard-nav__item
        = link_to new_staffs_article_path, {:class => "dashboard-nav__link"} do
          %i.fa.fa-pencil-square-o.dashboard-nav__link-icon
          = t('New Article')
      %li.dashboard-nav__item
        = link_to new_staffs_page_path, {:class => "dashboard-nav__link"} do
          %i.fa.fa-book.dashboard-nav__link-icon
          = t('New Page')
      %li.dashboard-nav__item
        = link_to new_staffs_snippet_path, {:class => "dashboard-nav__link"} do
          %i.fa.fa-paperclip.dashboard-nav__link-icon
          = t('New Snippet')
      %li.dashboard-nav__item
        = link_to new_staffs_service_path, {:class => "dashboard-nav__link"} do
          %i.fa.fa-heart.dashboard-nav__link-icon
          = t('New Services')
        - if can? :manage, @staff
          %li.dashboard-nav__item
            = link_to new_staffs_staff_path, {:class => "dashboard-nav__link"} do
              %i.fa.fa-user.dashboard-nav__link-icon
              = t('New Staff')
