= form_for [:staffs, @page] do |f|
  - if @page.errors.any?
    .error-explanation
      %h2.error-explanation__heading
        = pluralize(@page.errors.count, "error")
        prohibited this page from being saved:
      %ul.error-explanation__errors
        - @page.errors.full_messages.each do |msg|
          %li.error-explanation__error
            = msg
  .staff-fields
    .staff-fields__field.is-relative
      .staff-fields__field
        = f.label :title, t('Title'), {:class => 'staff-fields__label'}
        = f.text_field :title, {:class => 'staff-fields__text'}
    .js-markdown.js-markdown-page
      .staff-fields__field.is-relative
        .staff-fields__markdown
          = f.label :body, t('Body'), {:class => 'staff-fields__label'}
          = f.text_area :body, {:class => 'staff-fields__body'}
    .staff-fields__field
      = f.label :slug, t('Slug'), {:class => 'staff-fields__label'}
      = f.text_field :slug, {:class => 'staff-fields__text'}
    .staff-fields__field
      = f.label :meta_keywords, t('Meta Keywords'), {:class => 'staff-fields__label'}
      = f.text_field :meta_keywords, {:class => 'staff-fields__text'}
    .staff-fields__field.is-relative
      = f.label :meta_description, t('Meta Description'), {:class => 'staff-fields__label'}
      = f.text_area :meta_description, {:class => 'staff-fields__body'}
    .staff-fields__field
      = f.label :published, t('Published'), {:class => 'staff-fields__label'}
      = f.check_box :published
    .staff-fields__field
      = f.submit(t('Update'), :class => "large-button")
