%header.main__header
  %h2.main__header-heading
    Listing pages
.main__body
  %table
    %tbody
      - @pages.each do |page|
        %tr
          %td= page.title
          %td= page.slug
          %td= link_to 'Show', staffs_page_path(page)
          %td= link_to 'Edit', edit_staffs_page_path(page)
          %td= link_to 'Destroy', staffs_page_path(page), method: :delete, data: { confirm: 'Are you sure?' }
  %br/
  = link_to 'New Page', new_staffs_page_path
