%h1 Listing admins
%table
  %tbody
    - @admins.each do |admin|
      %tr
        %td= admin.name
        %td= admin.email
        %td= link_to 'Show', admin_article_path(article)
        %td= link_to 'Edit', edit_admin_article_path(article)
        %td= link_to 'Destroy', admin_article_path(article), method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Aadmin', new_admin_admin_path
