= form_for [:staffs, @snippet] do |f|
  - if @snippet.errors.any?
    #error_explanation
      %h2
        = pluralize(@snippet.errors.count, "error")
        prohibited this snippet from being saved:
      %ul
        - @snippet.errors.full_messages.each do |msg|
          %li= msg
  .staff-fields
    .staff-fields__field
      = f.label :title, t('Title'), {:class => 'staff-fields__label'}
      = f.text_field :title, {:class => 'staff-fields__text'}
    .js-markdown.js-markdown-snippet
      .staff-fields__field.relative
        .staff-fields__markdown
          = f.label :body, t('Body'), {:class => 'staff-fields__label'}
          = f.text_area :body, {:class => 'staff-fields__body'}
    .staff-fields__field
      = f.label :slug, t('Slug'), {:class => 'staff-fields__label'}
      = f.text_field :slug, {:class => 'staff-fields__text'}
    .staff-fields__actions
      = f.submit(t('Update'), :class => "large-button")
