%header.main__header
  %h2.main__header-heading
    = t('Snippets')
  %nav.main-tabs-nav
    %ul.main-tabs-nav__tabs
      %li.main-tabs-nav__tab<>
        = link_to t('All'), staffs_snippets_path, {:class => "main-tabs-nav__tab-link #{params[:published] ? '' : 'is-current'}"}
      %li.main-tabs-nav__tab<>
        = link_to t('Published'), staffs_snippets_path(:published => "true"), {:class => "main-tabs-nav__tab-link #{params[:published] == 'true' ? 'is-current' : ''}"}
      %li.main-tabs-nav__tab<>
        = link_to t('Unpublished'), staffs_snippets_path(:published => "false"), {:class => "main-tabs-nav__tab-link #{params[:published] == 'false' ? 'is-current' : ''}"}
  .main__search.main-search
    %i.fa.fa-search
    %input#js-search{:type => "text"}
  = link_to new_staffs_snippet_path, {:class => "main__header-add-link large-button"} do
    %i.fa.fa-plus
    = t('New Snippet')
.main__body
  %table.main__table.main-table
    %tbody
      - @snippets.each do |snippet|
        %tr.main-table__tr
          %td.main-table__td.js-search-target
            = link_to staffs_snippet_path(snippet) do
              = snippet.title
          %td.main-table__td= snippet.slug
          %td.main-table__td.main-table-actions__td
            %ul.main-table-actions__ul
              - if snippet.published?
                %li.main-table-actions__action.published
                  %span.small-button.published-disable.tool-tip-container
                    %i.fa.fa-eye
                    %span.tool-tip
                      = t('Published')
              - else
                %li.main-table-actions__action.unpublished
                  %span.small-button.disable.tool-tip-container
                    %i.fa.fa-eye-slash
                    %span.tool-tip
                      = t('Unpublished')
              %li.main-table-actions__action
                = link_to edit_staffs_snippet_path(snippet), {:class => "small-button edit main-table-actions__edit tool-tip-container"} do
                  %i.fa.fa-pencil
                  %span.tool-tip
                    = t('Edit')
              %li.main-table-actions__action
                = link_to staffs_snippet_path(snippet), method: :delete, class: "main-table-actions__delete small-button delete tool-tip-container", data: { confirm: 'Are you sure?' } do
                  %i.fa.fa-trash-o
                  %span.tool-tip
                    = t('Destroy')
