%header.main__header
  %h2.main__header-heading
    = t('Snippets')
.main__body
  %table
    %tbody
      - @snippets.each do |snippet|
        %tr
          %td= snippet.title
          %td= snippet.slug
          %td= link_to 'Show', staffs_snippet_path(snippet)
          %td= link_to 'Edit', edit_staffs_snippet_path(snippet)
          %td= link_to 'Destroy', staffs_snippet_path(snippet), method: :delete, data: { confirm: 'Are you sure?' }
  %br/
  = link_to 'New Snippet', new_staffs_snippet_path
