%header.main__header
  %h2.main__header-heading
    = t('Snippets')
  = link_to new_staffs_snippet_path, {:class => "main__header-add-link large-button"} do
    %i.fa.fa-plus
    = t('New Snippet')
.main__body
  .main__search.main-search
    %i.fa.fa-search
    %input#js-search{:type => "text"}
    %nav.main-tabs-nav
      %ul.main-tabs-nav__tabs
        %li.main-tabs-nav__tab<>
          = link_to t('All'), staffs_snippets_path, {:class => "main-tabs-nav__tab-link #{params[:published] ? '' : 'is-current'}"}
        %li.main-tabs-nav__tab<>
          = link_to t('Published'), staffs_snippets_path(:published => "true"), {:class => "main-tabs-nav__tab-link #{params[:published] == 'true' ? 'is-current' : ''}"}
        %li.main-tabs-nav__tab<>
          = link_to t('Unpublished'), staffs_snippets_path(:published => "false"), {:class => "main-tabs-nav__tab-link #{params[:published] == 'false' ? 'is-current' : ''}"}
  %table.main__table.main-table
    %tbody
      - @snippets.each do |snippet|
        %tr.main-table__tr
          %td.main-table__td.js-search-target
            = link_to staffs_snippet_path(snippet) do
              = snippet.title
          %td.main-table__td= snippet.slug
          %td.main-table__td
            - if snippet.published?
              = t('Published')
            - else
              = t('Unpublished')
          %td.main-table__td
            %ul.main-table-actions
              %li.main-table-actions__action
                = link_to t('Edit'), edit_staffs_snippet_path(snippet)
              %li.main-table-actions__action
                = link_to t('Destroy'), staffs_snippet_path(snippet), method: :delete, data: { confirm: 'Are you sure?' }
