%h1.attached-images__heading
  attached_images

.attached-images__attached-images
  - @attached_images.each do |attached_image|
    .attached-images__attached-image.attached-image
      = image_tag("#{attached_image.image}", class: ".attached-image__image")
      %p.attached-image__alt
        = attached_image.alt
      %ul.attached-image__actions
        %li.attached-image__action
          = link_to 'Show', staffs_attached_image_path(attached_image)
        %li.attached-image__action
          = link_to 'Edit', edit_staffs_attached_image_path(attached_image)
        %li.attached-image__action
          = link_to 'Destroy', staffs_attached_image_path(attached_image), :method => :delete, :data => { :confirm => 'Are you sure?' }

= link_to 'New Attached image', new_staffs_attached_image_path
