- content_for :page_title do
  = (params[:controller]).upcase

= form_for @contact, :url => contact_path, :class => "contact-form" do |form|
  %fieldset.contact-form__fields
    .two-column-content
      .two-column-content__title-wrapper
        %h2.two-column-content__second-heading.contact-form__fields-title
          %i.fa.fa-envelope-o.contact-form__fields-title-icon
          Mail
      .two-column-content__inner
        - if @contact.errors.any?
          .error-explanation
            %i.fa.fa-exclamation-triangle.error-explanation__icon
            %ul.error-explanation__errors
              - @contact.errors.full_messages.each do |msg|
                %li.error-explanation__error
                  %i.fa.fa-check.error-explanation__error-icon
                  = msg
        .contact-form__field
          %label{class: "contact-form__label"}
            = t('Name')
            %i.fa.fa-asterisk.contact-form__label-required-icon
          = form.text_field :name, {:class => "contact-form__text-input"}
        .contact-form__field
          %label{class: "contact-form__label"}
            = t('Email')
            %i.fa.fa-asterisk.contact-form__label-required-icon
          = form.text_field :email, {:class => "contact-form__text-input"}
        .contact-form__field
          %label{class: "contact-form__label"}
            = t('Subject')
            %i.fa.fa-asterisk.contact-form__label-required-icon
          = form.text_field :subject, {:class => "contact-form__text-input"}
        .contact-form__field
          %label{class: "contact-form__label"}
            = t('Body')
            %i.fa.fa-asterisk.contact-form__label-required-icon
          = form.text_area :body, {:class => "contact-form__textarea"}
        %ul.contact-form__actions
          %li.contact-form__action
            = form.submit 'Send', {:class => "contact-form__action-send"}
