- content_for :page_title do
  CONTACT

= form_for @contact, :url => contact_path, :class => "contact-form" do |form|
  %h2= t('Send whith Email')
  %fieldset.contact-form__fields
    .contact-form__field.two-column-content
      .two-column-content__title-wrapper
        = form.label :name, t('Name'), {:class => "contact-form__label"}
      .two-column-content__inner
        = form.text_field :name, {:class => "contact-form__text-input"}
    .contact-form__field.two-column-content
      .two-column-content__title-wrapper
        = form.label :email, t('Email'), {:class => "contact-form__label"}
      .two-column-content__inner
        = form.text_field :email, {:class => "contact-form__text-input"}
    .contact-form__field.two-column-content
      .two-column-content__title-wrapper
        = form.label :subject, t('Subject'), {:class => "contact-form__label"}
      .two-column-content__inner
        = form.text_field :subject, {:class => "contact-form__text-input"}
    .contact-form__field.two-column-content
      .two-column-content__title-wrapper
        = form.label :body, t('Body'), {:class => "contact-form__label"}
      .two-column-content__inner
        = form.text_area :body, {:class => "contact-form__textarea"}
    %ul.contact-form__actions.two-column-content
      %li.contact-form__action
        .two-column-content__title-wrapper
        .two-column-content__inner
          = form.submit 'Send', {:class => "contact-form__action-send"}
