= form_for @message, :url => contact_path do |form|
  %fieldset.fields
    .field
      = form.label :name
      = form.text_field :name
    .field
      = form.label :email
      = form.text_field :email
    .field
      = form.label :subject
      = form.text_field :subject
    .field
      = form.label :body
      = form.text_area :body
  %fieldset.actions= form.submit "Send"