= form_for [:staffs, @staff] do |f|
  - if @staff.errors.any?
    #error_explanation
      %h2
        = pluralize([:staffs, @article].errors.count, "error")
        prohibited this article from being saved:
      %ul
        - @article.errors.full_messages.each do |msg|
          %li= msg

  .staff-fields
    .staff-fields__field
      = f.label :name, {:class => 'staff-fields__label'}
      = f.text_field :name, {:class => 'staff-fields__label'}
    .js-markdown.js-markdown-staff
      .staff-fields__field.relative
        .staff-fields__markdown
          = f.label :body, t('Body'), {:class => 'staff-fields__label'}
          = f.text_area :body, {:class => 'staff-fields__body'}
    .staff-fields__actions
      = f.submit(t('Update'), :class => "large-button")
