%h1 Listing Staffs
%table
  %tbody
    - @staffs.each do |staff|
      %tr
        %td= staff.name
        %td= link_to 'Show', staffs_staff_path(staff)
        %td= link_to 'Edit', edit_staffs_staff_path(staff)
        %td= link_to 'Destroy', staffs_staff_path(staff), method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Staff', new_staffs_staff_path
