%header.header
  .wrapper.header__wrapper
    = form_tag(articles_path, :method => "get", :class => "header-search-form pc") do
      = text_field_tag(:search, params[:search], :placeholder => "Search", :class => "header-search-form__input-text js-focused")
      = button_tag(:name => nil, :class => "header-search-form__button", :type => "submit") do
        %i.fa.fa-search
    %i.fa.fa-bars.mobile.header__mobile-nav-opener.js-side-slide
.hero{class: "#{mobile? ? 'js-window-width' : ''}"}
  - if home?
    .wrapper.hero__image-wrapper--home
      = image_tag("hero.png", {:class => "hero__image"})
      .hero__hgrounp--home
        %h1.hero__site-title
          = @site.title
        %h2.hero__tag-line
          = @site.sub_title
      %ul.hero__tools
        %li.hero__tool
          = link_to '#', class:"hero__tool-link" do
            = image_tag 'logos/rails.svg', class:"hero__tool-name"
  - else
    .wrapper.hero__image-wrapper--except-home
      .hero__hgrounp--except-home
        %h1.hero__site-title
          = link_to root_path, {:class => "hero__site-title-link"} do
            = @site.title
        %h2.hero__tag-line
          = @site.sub_title

- if notice
  .notice
    .wrapper.notice__wrapper
      = notice
