%header#header
  .wrapper
    = form_tag(articles_path, :method => "get", :class => "header-search-form") do
      = text_field_tag(:search, params[:search], :class => "header-search-form__input-text")
      = button_tag(:name => nil, :class => "header-search-form__button", :type => "submit") do
        %i.fa.fa-search
    - if staff_signed_in?
      %p.header-admin= link_to '管理画面', staffs_root_path
      %p.header-admin= link_to('Logout', destroy_staff_session_path, :method => :delete)
      %p.header-admin
        = current_staff.name
    - else
      %p.header-admin= link_to('Login', new_staff_session_path)

#hero
  - if home?
    .wrapper.hero__image-wrapper--home
      = image_tag("hero.png", {:class => "hero__image"})
      .hero__hgrounp
        %h1.hero__site-title
          = @site.title
        %h2.hero__tag-line
          = @site.sub_title
  - else
    .wrapper.hero__image-wrapper.hero__image-wrapper
