= form_for [:admin, @admin] do |f|
  - if @admin.errors.any?
    #error_explanation
      %h2
        = pluralize([:admin, @admin].errors.count, "error")
        prohibited this article from being saved:
      %ul
        - @article.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :name
    %br/
    = f.text_field :name
  .field
    = f.label :email
    %br/
    = f.text_field :email
  .field
    = f.label :password
    %br/
    = f.text_field :encrypted_password
  .actions
    = f.submit
