%header.main__header
  %h2.main__header-heading
    = t('Services')
  = link_to new_staffs_service_path, {:class => "main__header-add-link large-button"} do
    %i.fa.fa-plus
    = t('New Services')
.main__body
  .main__search
    %label
      検索:
    %input#js-search{:type => "text"}
    %ul.main__tag-navs.main-tag-navs
      %li.main-tag-nav= link_to t('All'), staffs_services_path
      %li.main-tag-nav= link_to t('Published'), staffs_services_path(:published => "true")
      %li.main-tag-nav= link_to t('Unublished'), staffs_services_path(:published => "false")
  %table.main__table.main-table
    %tbody
      - @services.each do |service|
        %tr.main-table__tr
          %td.main-table__td.js-search-target
            = link_to staffs_service_path(service) do
              = service.title
          %td.main-table__td= service.slug
          %td.main-table__td= service.created_at
          %td.main-table__td
            %ul.main-table-actions
              - if service.published?
                %li.main-table-actions__action.published
                  = link_to service_path(service) do
                    = t('Published')
              - else
                %li.main-table-actions__action.unpublished
                  = t('Unpublished')
              %li.main-table-actions__action
                = link_to t('Edit'), edit_staffs_service_path(service)
              %li.main-table-actions__action
                = link_to t('Destroy'), staffs_service_path(service), method: :delete, data: { confirm: 'Are you sure?' }
