= form_for [:staffs, @article] do |f|
  - if @article.errors.any?
    .error-explanation
      %h2.error-explanation__heading
        = pluralize(@article.errors.count, "error")
        prohibited this article from being saved:
      %ul.error-explanation__errors
        - @article.errors.full_messages.each do |msg|
          %li.error-explanation__error
            = msg

  .staff-fields
    .staff-fields__field
      = f.label :title, t('Title'), {:class => 'staff-fields__label'}
      = f.text_field :title, {:class => 'staff-fields__text'}
    .js-markdown.js-markdown-article
      .staff-fields__field.relative
        .staff-fields__markdown
          = f.label :body, t('Body'), {:class => 'staff-fields__label'}
          = f.text_area :body, {:class => 'staff-fields__body'}
    .staff-fields__field
      = f.label :category, t('Category'), {:class => 'staff-fields__label'}
      = f.collection_select :category_id, Category.all, :id, :name
    .staff-fields__field
      = f.label :staffs, t('Author'), {:class => 'staff-fields__label'}
      = f.collection_select :staff_id, Staff.all, :id, :name
    .staff-fields__field
      = f.label :tags, t("Tags (separated by commas)"), {:class => 'staff-fields__label'}
      %ul#article_tags.staff-fields__tags
        = initial_tag_list(@article.tag_list)
      = add_tag_input
      = f.hidden_field :tag_list
    .staff-fields__field
      = f.label :slug, t('Slug'), {:class => 'staff-fields__label'}
      = f.text_field :slug, {:class => 'staff-fields__text'}
    .staff-fields__field
      = f.label :meta_keywords, t('Meta Keywords'), {:class => 'staff-fields__label'}
      = f.text_field :meta_keywords, {:class => 'staff-fields__text'}
    .staff-fields__field.relative
      = f.label :meta_description, t('Meta Description'), {:class => 'staff-fields__label'}
      = f.text_area :meta_description, {:class => 'staff-fields__body'}
    .staff-fields__field
      = f.label :published, t("Published"), {:class => 'staff-fields__label'}
      = f.check_box :published
    .staff-fields__field.datepicker
      = f.label :created_at, t('Created at'), {:class => 'staff-fields__label'}
      = f.text_field :created_at, {:class => 'staff-fields__text add-on'}
    .staff-fields__actions
      = f.submit(t('Create'), :class => "large-button")
