%header.main__header
  %h2.main__header-heading
    = t('Articles')
  .main__search.main-search
    %i.fa.fa-search
    %input#js-search{:type => "text"}
    %nav.main-tabs-nav
      %ul.main-tabs-nav__tabs
        %li.main-tabs-nav__tab<>
          = link_to t('All'), staffs_articles_path, {:class => "main-tabs-nav__tab-link #{params[:published] ? '' : 'is-current'}"}
        %li.main-tabs-nav__tab<>
          = link_to t('Published'), staffs_articles_path(:published => "true"), {:class => "main-tabs-nav__tab-link #{params[:published] == 'true' ? 'is-current' : ''}"}
        %li.main-tabs-nav__tab<>
          = link_to t('Unpublished'), staffs_articles_path(:published => "false"), {:class => "main-tabs-nav__tab-link #{params[:published] == 'false' ? 'is-current' : ''}"}



  = link_to new_staffs_article_path, {:class => "main__header-add-link large-button"} do
    %i.fa.fa-plus
    = t('New Article')
.main__body
  %table.main__table.main-table
    %tbody
      - if @articles.present?
        - @articles.each do |article|
          %tr.main-table__tr
            %td.main-table__td.js-search-target
              = link_to staffs_article_path(article) do
                = article.title
            %td.main-table__td
              = raw article.tag_list.map { |t| link_to t, tag_path(t) }.join(', ')
            %td.main-table__td= article.created_at
            %td.main-table__td.main-table-actions__td
              %ul.main-table-actions__ul
                - if article.published?
                  %li.main-table-actions__action.published
                    = link_to article_path(article), {:class => "small-button published tool-tip-container"} do
                      %i.fa.fa-eye
                      %span.tool-tip
                        = t('Published')
                - else
                  %li.main-table-actions__action.unpublished
                    %span.small-button.disable.tool-tip-container
                      %i.fa.fa-eye-slash
                      %span.tool-tip
                        = t('Unpublished')
                %li.main-table-actions__action
                  = link_to edit_staffs_article_path(article), {:class => "small-button edit main-table-actions__edit tool-tip-container"} do
                    %i.fa.fa-pencil
                    %span.tool-tip
                      = t('Edit')
                %li.main-table-actions__action
                  = link_to staffs_article_path(article), method: :delete, class: "main-table-actions__delete small-button delete tool-tip-container", data: { confirm: 'Are you sure?' } do
                    %i.fa.fa-trash-o
                    %span.tool-tip
                      = t('Destroy')
      - else
        - if params[:published] == "true"
          = t('Not found published articles')
        - elsif params[:published] == "false"
          = t('Not found unpublished articles')
        - else
          = t('Not found articles')
