%header.main__header
  %h2.main__header-heading
    = t('Articles')
  = link_to 'New Article', new_staffs_article_path, {:class => "main__header-add-link large-button"}
.main__body
  %table
    %tbody
      - @articles.each do |article|
        %tr
          %td= article.title
          %td= raw article.tag_list.map { |t| link_to t, tag_path(t) }.join(', ')
          %td= article.created_at
          %td
            - if article.published?
              公開
            - else
              下書き
          %td= link_to 'Show', staffs_article_path(article)
          %td= link_to 'Edit', edit_staffs_article_path(article)
          %td= link_to 'Destroy', staffs_article_path(article), method: :delete, data: { confirm: 'Are you sure?' }
