%header.main__header
  %h2.main__header-heading
    = t('New Article')
  = link_to staffs_articles_path, {:class => "main__header-add-link large-button"} do
    %i.fa.fa-reply
    = t('Back To Articles')

.main__body
  #notice= notice
  %h2.article__title= @article.title
  .article__body= markdown(@article.body)
  .article__category_name= @article.category.name
  .article__tags= raw @article.tag_list.map { |t| link_to t, tag_path(t) }.join(', ')
  = link_to edit_staffs_article_path(@article), {:class => "large-button"} do
    %i.fa.fa-plus
    = t('Edit')