!!!
%html
  %head
    %title= @site.title
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    = render 'header'
    = render 'global_nav'
    %header.page__title
      .wrapper
        %h1.page__first-heading
          = yield :page_title

    .content
      - if articles? or categories?
        .wrapper
          .articles__wrapper
            = yield
      - elsif home? or page? or members?
        .wrapper.content__wrapper
          = yield
          = render 'side_column_articles'
      - else
        .wrapper.content__wrapper
          = yield
