!!!
%html
  %head
    %title= @site.title
    /[if IE]
      = javascript_include_tag "//html5shiv.googlecode.com/svn/trunk/html5.js"
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
    = auto_discovery_link_tag( :rss, "/articles/feed.rss" )
    = analytics_init if Rails.env.production?
  %body
    = render 'staff_nav'
    = render 'header'
    = render 'global_nav'
    .page
      %header.page__title
        .wrapper.page__title-wrapper
          %h1.page__first-heading
            = yield :page_title
          .page-title-breadcrumbs
            = render_breadcrumbs separator: '&nbsp;&nbsp;>&nbsp;&nbsp;'

      .content
        - if articles? or categories? or category? or archive?
          .wrapper
            .articles__wrapper
              = yield
              = render 'side_column_articles_nav'
        - elsif home? or page? or members? or services? or service? or contact? or member?
          .wrapper
            .content__wrapper
              = yield
              = render 'side_column_articles'
        - elsif article?
          .wrapper
            .article__wrapper
              .article__content
                .article__content-inner
                  = yield
        - else
          .wrapper
            .content__wrapper
              = yield

    %footer.footer
      .wrapper
        .footer__wrapper
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
          %small FJORD,LLC

    - if development?
      .js-positions.js-hidden.is-hidden
        %i.fa.fa-times.js-parent-close.js-positions__close-button
        %table.js-positions__table
          %tr.js-positions__table-tr
            %th.js-positions__table-th
              画面左上→マウスX座標
            %td.js-positions__table-value
              %input#mouseX{readonly: "readonly", type: "text", class: "js-positions__table-input"}/
            %th.js-positions__table-th
              画面左上→マウスY座標
            %td.js-positions__table-value
              %input#mouseY{readonly: "readonly", type: "text", class: "js-positions__table-input"}/
            %th.js-positions__table-th
              div左上→マウスX座標
            %td.js-positions__table-value
              %input#divMouseX{readonly: "readonly", type: "text", class: "js-positions__table-input"}/
            %th.js-positions__table-th
              div左上→マウスY座標
            %td.js-positions__table-value
              %input#divMouseY{readonly: "readonly", type: "text", class: "js-positions__table-input"}/
          %tr.js-positions__table-tr
            %th.js-positions__table-th
              ウインドウ横幅
            %td.js-positions__table-value
              %input#windowW{readonly: "readonly", type: "text", class: "js-positions__table-input"}/
            %th.js-positions__table-th
              ウインドウ縦幅
            %td.js-positions__table-value
              %input#windowH{readonly: "readonly", type: "text", class: "js-positions__table-input"}/
            %th.js-positions__table-th
              スクロール量（X座標）
            %td.js-positions__table-value
              %input#scrollX{readonly: "readonly", type: "text", class: "js-positions__table-input"}/
            %th.js-positions__table-th
              スクロール量（Y座標）
            %td.js-positions__table-value
              %input#scrollY{readonly: "readonly", type: "text", class: "js-positions__table-input"}/
        .fa.fa-angle-up.js-hide.js-positions__hide-button
        .fa.fa-angle-down.js-show.js-positions__show-button.is-hidden
        #js-target-field.js-positions__target-field.js-hidden.js-shown
          js-target-field
