!!!
%html
  %head
    %title CompanySite
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    = render 'header'
    = render 'global_nav'
    %header.page__title
      .wrapper
        %h1.page__first-heading
          -#
            - if home?
              FJORD, LLC
            - elsif page?
              = @entry.title
            - elsif category?
              = @category.title
            - elsif post? and @entry.category
              = @entry.category.title
    .content
      - if article?
        .wrapper
          .articles__wrapper
            = yield
      - else
        .wrapper.content__wrapper
          = yield
