!!!
%html
  %head
    %title= @site.title
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}
    = auto_discovery_link_tag( :rss, "/articles/feed.rss" )
    = analytics_init if production?
    /[if IE]
      = stylesheet_link_tag "//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css", media: "all"
      = javascript_include_tag "//html5shiv.googlecode.com/svn/trunk/html5.js"
      = javascript_include_tag "oulu/ie/jquery.linkscubber.js"
      = javascript_include_tag "oulu/ie/jquery.belatedPNG.min.js"
      = javascript_include_tag "oulu/ie/ie-selectors"
    /[if lt IE 9]
      = respond_include_tags
    - if development? and not browser.ie?
      = javascript_include_tag "positions"
  %body.body.js-hack.js-side-slid#head{class: "#{controller_name}-#{action_name} application"}
    = render 'staff_nav'
    = render 'header'
    = render 'global_nav'
    .page
      .mobile-breadcrumbs.mobile
        .mobile-breadcrumbs__wrapper.wrapper
          = render_breadcrumbs separator: '&nbsp;&nbsp;>&nbsp;&nbsp;'
      %header.page__title
        .wrapper.page__title-wrapper
          %h1.page__first-heading
            = yield :page_title
          .page-title-breadcrumbs.pc
            = render_breadcrumbs separator: '&nbsp;&nbsp;>&nbsp;&nbsp;'

      .content
        - if articles? or categories? or category? or archive?
          .wrapper
            .articles__wrapper
              = yield
              -# = render 'side_column_articles_nav'
        - elsif home? or page? or members? or services? or service? or contact? or member?
          .wrapper
            .content__wrapper
              = yield
              = render 'side_column_articles'
        - elsif article?
          .wrapper
            .article__wrapper
              .article__content
                .article__content-inner
                  = yield
        - else
          .wrapper
            .content__wrapper
              = yield

    %footer.footer#footer
      .wrapper
        .footer__wrapper
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
          %small FJORD,LLC
    = link_to "#head",{class: "scroll-to-top js-scroll-to-top"} do
      %i.fa.fa-angle-up.scroll-to-top__icon
    - if development?
      = render 'js_positions'
    = render 'mobile_nav'
    .js-window-loading.loading
      %i.fa.fa-spinner.fa-spin
