!!!
%html
  %head
    %title= @site.title
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
    = auto_discovery_link_tag( :rss, "/articles/feed.rss" )
    = analytics_init if Rails.env.production?
  %body
    = render 'staff_nav'
    = render 'header'
    = render 'global_nav'
    .page
      %header.page__title
        .wrapper.page__title-wrapper
          %h1.page__first-heading
            = yield :page_title
          .page-title-breadcrumbs
            = render_breadcrumbs separator: '&nbsp;&nbsp;>&nbsp;&nbsp;'

      .content
        - if articles? or categories? or category? or archive?
          .wrapper
            .articles__wrapper
              = yield
              = render 'side_column_articles_nav'
        - elsif home? or page? or members? or services? or service? or contact? or member?
          .wrapper
            .content__wrapper
              = yield
              = render 'side_column_articles'
        - elsif article?
          .wrapper
            .article__wrapper
              .article__content
                .article__content-inner
                  = yield
        - else
          .wrapper
            .content__wrapper
              = yield

    %footer.footer
      .wrapper
        .footer__wrapper
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
          %small FJORD,LLC

    #targetDiv
      aaaa
    %table#resultArea
      %tr
        %td 画面左上からのマウスX座標
        %td
          %input#mouseX{readonly: "readonly", type: "text"}/
        %td 画面左上からのマウスY座標
        %td
          %input#mouseY{readonly: "readonly", type: "text"}/
      %tr
        %td DIV(#TARGET)左上からのマウスX座標
        %td
          %input#divMouseX{readonly: "readonly", type: "text"}/
        %td DIV("#TARGET)左上からのマウスY座標
        %td
          %input#divMouseY{readonly: "readonly", type: "text"}/
      %tr
        %td ウインドウ横幅
        %td
          %input#windowW{readonly: "readonly", type: "text"}/
        %td ウインドウ縦幅
        %td
          %input#windowH{readonly: "readonly", type: "text"}/
      %tr
        %td スクロール量（X座標）
        %td
          %input#scrollX{readonly: "readonly", type: "text"}/
        %td スクロール量（Y座標）
        %td
          %input#scrollY{readonly: "readonly", type: "text"}/
