!!!
%html
  %head
    %title= @site.title
    = stylesheet_link_tag    "staffs/application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "staffs/application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body{class: "#{controller_name}-#{action_name} application #{browser}"}
    %header.header
      %h1.header__site-title
        = link_to root_path, {:class => "header__site-title-link"} do
          = @site.title
      %nav.header__nav
        %ul.header__nav-items
          - if staff_signed_in?
            %li.header__nav-item
              = link_to(destroy_staff_session_path, :method => :delete, :class => "header__nav-link") do
                %i.fa.fa-sign-out.header__nav-icon
                = t('Logout')
            %li.header__nav-item
              = image_tag gravatar_image_url(current_staff.email, 32), {:class => "header__staff-gravatar-image"}
              = current_staff.name
    - if notice
      .notice
        .wrapper.notice__wrapper
          = notice
    .wrapper
      %main.main
        = yield
      = render 'staffs_side_nav'
    .js-window-loading.loading
      %i.fa.fa-spinner.fa-spin
