!!!
%html
  %head
    %title= @site.title
    = stylesheet_link_tag "//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css", media: "all", "data-turbolinks-track" => true
    = stylesheet_link_tag "staffs/application", media: "all", "data-turbolinks-track" => true
    = jquery_include_tag :google, :force => true
    = javascript_include_tag "staffs/application", "data-turbolinks-track" => true
    = csrf_meta_tags
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}
    = auto_discovery_link_tag( :rss, "/articles/feed.rss" )
    = analytics_init if production?
    - if browser.ie8?
      = stylesheet_link_tag "//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css", media: "all"
      = javascript_include_tag "//html5shiv.googlecode.com/svn/trunk/html5.js"
      = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/selectivizr/1.0.2/selectivizr-min.js"
      = respond_include_tags
      = javascript_include_tag "oulu-ie8"
    - if browser.ie9?
      = javascript_include_tag "oulu-ie9"
  %body{class: "#{controller_name}-#{action_name} application #{browser}"}
    %header.header
      %h1.header__site-title
        = link_to root_path, {:class => "header__site-title-link"} do
          = @site.title
      %nav.header__nav
        %ul.header__nav-items
          - if staff_signed_in?
            %li.header__nav-item
              = link_to(destroy_staff_session_path, :method => :delete, :class => "header__nav-link") do
                %i.fa.fa-sign-out.header__nav-icon
                = t('Logout')
            %li.header__nav-item
              = image_tag gravatar_image_url(current_staff.email, 32), {:class => "header__staff-gravatar-image"}
              = current_staff.name

    #attached-images.is-closed

    - if notice
      .notice
        .wrapper.notice__wrapper
          = notice
    .wrapper
      %main.main
        = yield
      = render 'staffs_side_nav'
    #footer.footer
    .js-window-loading.loading
      %i.fa.fa-spinner.fa-spin
