- content_for :page_title do
  MEMBERS

%section.members
  - @staffs.each do |staff|
    %section.two-column-content.members__member
      .two-column-content__title-wrapper.members__title-wrapper
        %h2.two-column-content__second-heading.members__member-name
          = staff.name
        = link_to "/members/#{staff.slug}" do
          = image_tag("member-icons/#{staff.slug}.jpg", :alt => "#{staff.name}", :class => "members__member-icon-image")
      .two-column-content__inner
        = markdown(staff.description)
        = link_to "/members/#{staff.slug}", {:class => "two-column-content__more-link"} do
          = t('About Staff More')
          %i.fa.fa-angle-right.two-column-content__more-link-icon
