- content_for :page_title do
  = @staff.name

%section.member
  %h2= @staff.name
  = image_tag("member-icons/#{@staff.slug}.jpg", :alt => "#{@staff.name}", :class => "member-icon-image")
  = markdown(@staff.body)
